body {
    padding: 5px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.center-image {
    text-align: center;
    margin: auto;
    display: block;
    -webkit-user-select: none;
}
